header {

    position: sticky;
    top: 0;
}

.header-div {
    padding: 20px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        margin-top: 10px;
    }

    .nav-item {
        margin: 0 10px;
    }
}
